!.mvn/wrapper/maven-wrapper.jar
/target/
/.classpath
/.project
/.apt_generated/
/.factorypath
/.idea/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/